<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czm.mapper.InfotableMapper">
  <resultMap id="BaseResultMap" type="com.czm.entity.Infotable">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc1" jdbcType="VARCHAR" property="desc1" />
    <result column="remack" jdbcType="VARCHAR" property="remack" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, desc1, remack
  </sql>
</mapper>