<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czm.mapper.ProfileCompanyMapper">
  <resultMap id="BaseResultMap" type="com.czm.entity.ProfileCompany">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="vip" jdbcType="VARCHAR" property="vip" />
    <result column="stays" jdbcType="VARCHAR" property="stays" />
    <result column="communications" jdbcType="VARCHAR" property="communications" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="other_communications" jdbcType="VARCHAR" property="otherCommunications" />
    <result column="email_address" jdbcType="VARCHAR" property="emailAddress" />
    <result column="fax_number" jdbcType="VARCHAR" property="faxNumber" />
    <result column="business_phone" jdbcType="VARCHAR" property="businessPhone" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, city, street, country, state, postal_code, vip, stays, communications, 
    number, other_communications, email_address, fax_number, business_phone, mobile_phone
  </sql>

  <!--&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;resultMap id="response" type="com.czm.domain.ProfileResponse"&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;-->
    <!--&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;result column="name" jdbcType="VARCHAR" property="name"/&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;-->
    <!--&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;result column="email_address" jdbcType="VARCHAR" property="emailAddress"/&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;-->
    <!--&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;-->
  <!--&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/resultMap&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;-->


  <!--&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;select id="selectLimit" resultMap="response"&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;-->
    <!--SELECT-->
    <!--`name`,-->
    <!--mobile_phone,-->
    <!--email_address-->
    <!--FROM-->
    <!--profile_company-->
    <!--LIMIT #{num},4999-->
  <!--&amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/select&amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;-->
</mapper>